<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pitaya.bookingnow.dao.security.RoleMapper">
	<resultMap id="BaseResultMap" type="com.pitaya.bookingnow.entity.security.Role">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="enabled" property="enabled" jdbcType="BIT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="issys" property="issys" jdbcType="BIT" />
		<result column="module" property="module" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name,type, description, issys, module,enabled
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from pitaya_role
		where id = #{id,jdbcType=BIGINT} and enabled = true
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		update pitaya_role
		set enabled = false
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.pitaya.bookingnow.entity.security.Role">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pitaya_role (name, description, issys,
		module,type,enabled)
		values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
		#{issys,jdbcType=BIT},
		#{module,jdbcType=INTEGER},
		#{type,jdbcType=INTEGER},
		#{enabled,jdbcType=BIT}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.pitaya.bookingnow.entity.security.Role">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pitaya_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="issys != null">
				issys,
			</if>
			<if test="module != null">
				module,
			</if>
			<if test="type != null">
				type,
			</if>
			enabled
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="issys != null">
				#{issys,jdbcType=BIT},
			</if>
			<if test="module != null">
				#{module,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="enabled != null">
				#{enabled,jdbcType=BIT},
			</if>
			<if test="enabled == null">
				true
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.pitaya.bookingnow.entity.security.Role">
		update pitaya_role
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="issys != null">
				issys = #{issys,jdbcType=BIT},
			</if>
			<if test="module != null">
				module = #{module,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="enabled != null">
				enabled = #{enabled,jdbcType=BIT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.pitaya.bookingnow.entity.security.Role">
		update pitaya_role
		set name = #{name,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR},
		issys = #{issys,jdbcType=BIT},
		module = #{module,jdbcType=INTEGER},
		type = #{type,jdbcType=INTEGER},
		enabled = #{enabled,jdbcType=BIT}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>