<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pitaya.bookingnow.dao.security.UserMapper">
	<resultMap id="BaseResultMap" type="com.pitaya.bookingnow.entity.security.User">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="modifyTime" property="modifyTime" jdbcType="BIGINT" />
		<result column="image_size" property="image_size" jdbcType="INTEGER" />
		<result column="image_relative_path" property="image_relative_path" jdbcType="VARCHAR" />
		<result column="image_absolute_path" property="image_absolute_path" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="birthday" property="birthday" jdbcType="BIGINT" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="department" property="department" jdbcType="INTEGER" />
		<result column="sub_system" property="sub_system" jdbcType="INTEGER" />
		<result column="enabled" property="enabled" jdbcType="BIT" />
	</resultMap>
	
	<resultMap id="User_BaseResultMap" type="com.pitaya.bookingnow.entity.security.User">
		<id column="U_id" property="id" jdbcType="BIGINT" />
		<result column="U_modifyTime" property="modifyTime" jdbcType="BIGINT" />
		<result column="U_image_size" property="image_size" jdbcType="INTEGER" />
		<result column="U_image_relative_path" property="image_relative_path" jdbcType="VARCHAR" />
		<result column="U_image_absolute_path" property="image_absolute_path" jdbcType="VARCHAR" />
		<result column="U_account" property="account" jdbcType="VARCHAR" />
		<result column="U_name" property="name" jdbcType="VARCHAR" />
		<result column="U_password" property="password" jdbcType="VARCHAR" />
		<result column="U_phone" property="phone" jdbcType="VARCHAR" />
		<result column="U_sex" property="sex" jdbcType="INTEGER" />
		<result column="U_email" property="email" jdbcType="VARCHAR" />
		<result column="U_address" property="address" jdbcType="VARCHAR" />
		<result column="U_birthday" property="birthday" jdbcType="BIGINT" />
		<result column="U_description" property="description" jdbcType="VARCHAR" />
		<result column="U_department" property="department" jdbcType="INTEGER" />
		<result column="U_sub_system" property="sub_system" jdbcType="INTEGER" />
		<result column="U_enabled" property="enabled" jdbcType="BIT" />
		
		<collection property="role_Details" ofType="User_Role_Detail">
			<id column="UR_id" property="id" jdbcType="BIGINT" />
			<result column="UR_enabled" property="enabled" jdbcType="BIT" />
			<result column="UR_role_id" property="role_id" jdbcType="BIGINT" />
			<result column="UR_user_id" property="user_id" jdbcType="BIGINT" />
			
			<association property="role" javaType="com.pitaya.bookingnow.entity.security.Role">
				<id column="R_id" property="id" jdbcType="BIGINT" />
				<result column="R_name" property="name" jdbcType="VARCHAR" />
				<result column="R_description" property="description" jdbcType="VARCHAR" />
				<result column="R_issys" property="issys" jdbcType="BIT" />
				<result column="R_module" property="module" jdbcType="INTEGER" />
				<result column="R_type" property="type" jdbcType="INTEGER" />
			</association> 
		</collection>
	</resultMap>
	
	<sql id="Min_User_Base_Column_List">
		id, 
		account, 
		name, 
		phone, 
		sex, 
		department, 
		enabled
	</sql>
	
	<sql id="Max_User_Base_Column_List">
		id, 
		modifyTime, 
		image_size,
		image_relative_path,
		image_absolute_path,
		account, 
		name, 
		password, 
		phone, 
		sex, 
		email, 
		address,
		birthday, 
		description,
		department, 
		sub_system, 
		enabled
	</sql>
	
	<sql id="Base_Column_List">
		id, 
		image_size,
		image_relative_path,
		account, 
		name, 
		password,
		phone, 
		sex, 
		email, 
		address,
		birthday, 
		department, 
		enabled
	</sql>
	
	<sql id="User_Base_Column_List">
		U.id as U_id, 
		U.modifyTime as U_modifyTime, 
		U.image_size as U_image_size,
		U.image_relative_path as U_image_relative_path,
		U.image_absolute_path as U_image_absolute_path,
		U.account as U_account, 
		U.name as U_name, 
		U.password as U_password, 
		U.phone as U_phone, 
		U.sex as U_sex, 
		U.email as U_email, 
		U.address as U_address,
		U.birthday as U_birthday, 
		U.description as U_description,
		U.department as U_department, 
		U.sub_system as U_sub_system,
		U.enabled as U_enabled
	</sql>
	
	<sql id="Role_Detail_Base_Column_List">
		UR.id as UR_id, 
		UR.enabled as UR_enabled
	</sql>
	
	<sql id="Role_Base_Column_List">
		R.id as R_id, 
		R.name as R_name,
		R.type as R_type
	</sql>
	
	<select id="existUser" resultMap="BaseResultMap" parameterType="com.pitaya.bookingnow.entity.security.User">
		select
			account, 
			name
		from pitaya_user 
		where account = #{account,jdbcType=VARCHAR} 
	</select>
	
	<select id="login" resultMap="User_BaseResultMap" parameterType="com.pitaya.bookingnow.entity.security.User">
		select
		<include refid="User_Base_Column_List" />
		,
		<include refid="Role_Detail_Base_Column_List" />
		,
		<include refid="Role_Base_Column_List" />
		
		from pitaya_user U
			left outer join pitaya_user_role_detail UR on UR.user_id = U.id
			left outer join pitaya_role R on R.id = UR.role_id
		where U.account = #{account,jdbcType=VARCHAR} and U.password = #{password,jdbcType=VARCHAR} and U.enabled = true
	</select>
	 
	 <!-- 
	<select id="login" resultMap="BaseResultMap" parameterType="com.pitaya.bookingnow.entity.security.User">
		select
		<include refid="Base_Column_List" />
		from pitaya_user
		where account = #{account,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
	</select>
	-->
	
	<select id="searchUsersWithRole" resultMap="User_BaseResultMap" parameterType="com.pitaya.bookingnow.entity.security.User">
		select
		<include refid="User_Base_Column_List" />
		,
		<include refid="Role_Detail_Base_Column_List" />
		,
		<include refid="Role_Base_Column_List" />
		
		from pitaya_user U
			left outer join pitaya_user_role_detail UR on UR.user_id = U.id
			left outer join pitaya_role R on R.id = UR.role_id
		<where>
			<if test="modifyTime != null">
				U.modifyTime = #{modifyTime,jdbcType=BIGINT}
			</if>
			
			<if test="image_size != null">
				and U.image_size = #{image_size,jdbcType=INTEGER}
			</if>
			<if test="image_relative_path != null">
				and U.image_relative_path = #{image_relative_path,jdbcType=VARCHAR}
			</if>
			<if test="image_absolute_path != null">
				and U.image_absolute_path = #{image_absolute_path,jdbcType=VARCHAR}
			</if>
			
			<if test="account != null">
				and U.account = #{account,jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				and U.name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="password != null">
				and U.password = #{password,jdbcType=VARCHAR}
			</if>
			<if test="phone != null">
				and U.phone = #{phone,jdbcType=VARCHAR}
			</if>
			<if test="sex != null">
				and U.sex = #{sex,jdbcType=INTEGER}
			</if>
			<if test="email != null">
				and U.email = #{email,jdbcType=VARCHAR}
			</if>
			<if test="address != null">
				and U.address = #{address,jdbcType=VARCHAR}
			</if>
			<if test="birthday != null">
				and U.birthday = #{birthday,jdbcType=BIGINT}
			</if>
			<if test="description != null">
				and U.description = #{description,jdbcType=VARCHAR}
			</if>
			<if test="department != null">
				and U.department = #{department,jdbcType=INTEGER}
			</if>
			<if test="sub_system != null">
				and U.sub_system = #{sub_system,jdbcType=INTEGER}
			</if>
			<if test="enabled != null">
				and U.enabled = #{enabled,jdbcType=BIT}
			</if>
			<if test="enabled == null">
				and U.enabled = true
			</if>
		</where>
		
	</select>
	
	<select id="searchUsers" resultMap="BaseResultMap" parameterType="com.pitaya.bookingnow.entity.security.User">
		select
		<include refid="Base_Column_List" />
		from pitaya_user
		<where>
			<if test="modifyTime != null">
				modifyTime = #{modifyTime,jdbcType=BIGINT}
			</if>
			
			<if test="image_size != null">
				and image_size = #{image_size,jdbcType=INTEGER}
			</if>
			<if test="image_relative_path != null">
				and image_relative_path = #{image_relative_path,jdbcType=VARCHAR}
			</if>
			<if test="image_absolute_path != null">
				and image_absolute_path = #{image_absolute_path,jdbcType=VARCHAR}
			</if>
			
			<if test="account != null">
				and account = #{account,jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				and name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="password != null">
				and password = #{password,jdbcType=VARCHAR}
			</if>
			<if test="phone != null">
				and phone = #{phone,jdbcType=VARCHAR}
			</if>
			<if test="sex != null">
				and sex = #{sex,jdbcType=INTEGER}
			</if>
			<if test="email != null">
				and email = #{email,jdbcType=VARCHAR}
			</if>
			<if test="address != null">
				and address = #{address,jdbcType=VARCHAR}
			</if>
			<if test="birthday != null">
				and birthday = #{birthday,jdbcType=BIGINT}
			</if>
			<if test="description != null">
				and description = #{description,jdbcType=VARCHAR}
			</if>
			<if test="department != null">
				and department = #{department,jdbcType=INTEGER}
			</if>
			<if test="sub_system != null">
				and sub_system = #{sub_system,jdbcType=INTEGER}
			</if>
			<if test="enabled != null">
				and enabled = #{enabled,jdbcType=BIT}
			</if>
			<if test="enabled == null">
				and enabled = true
			</if>
		</where>
	</select>
	
	<select id="searchAllUsers" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pitaya_user
		where enabled = true
	</select>
	
	<select id="getUserRole" resultMap="User_BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="User_Base_Column_List" />
		,
		<include refid="Role_Detail_Base_Column_List" />
		,
		<include refid="Role_Base_Column_List" />
		
		from pitaya_user U
			left outer join pitaya_user_role_detail UR on UR.user_id = U.id
			left outer join pitaya_role R on R.id = UR.role_id
		where U.id = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from pitaya_user
		where id = #{id,jdbcType=BIGINT}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from pitaya_user
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.pitaya.bookingnow.entity.security.User">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pitaya_user (modifyTime, image_size, image_relative_path, image_absolute_path, account, name,
		password, phone, sex,
		email, address, birthday,
		description, department, sub_system, enabled
		)
		values (#{modifyTime,jdbcType=BIGINT},#{image_size,jdbcType=INTEGER},#{image_relative_path,jdbcType=VARCHAR},#{image_absolute_path,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER},
		#{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
		#{birthday,jdbcType=BIGINT},
		#{description,jdbcType=VARCHAR}, #{department,jdbcType=INTEGER}, #{sub_system,jdbcType=INTEGER}, true
		)
	</insert>
	
	<insert id="insertSelective" parameterType="com.pitaya.bookingnow.entity.security.User">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pitaya_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="modifyTime != null">
				modifyTime,
			</if>
			
			<if test="image_size != null">
				image_size,
			</if>
			<if test="image_relative_path != null">
				image_relative_path,
			</if>
			<if test="image_absolute_path != null">
				image_absolute_path,
			</if>
			
			<if test="account != null">
				account,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="department != null">
				department,
			</if>
			<if test="sub_system != null">
				sub_system,
			</if>
			<if test="enabled != null">
				enabled,
			</if>
			
		</trim>
		
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=BIGINT},
			</if>
			
			<if test="image_size != null">
				#{image_size,jdbcType=INTEGER},
			</if>
			<if test="image_relative_path != null">
				#{image_relative_path,jdbcType=VARCHAR},
			</if>
			<if test="image_absolute_path != null">
				#{image_absolute_path,jdbcType=VARCHAR},
			</if>
			
			<if test="account != null">
				#{account,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=INTEGER},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				#{birthday,jdbcType=BIGINT},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="department != null">
				#{department,jdbcType=INTEGER},
			</if>
			<if test="sub_system != null">
				#{sub_system,jdbcType=INTEGER},
			</if>
			<if test="enabled != null">
				#{enabled,jdbcType=BIT},
			</if>
			
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.pitaya.bookingnow.entity.security.User">
		update pitaya_user
		<set>
			<if test="modifyTime != null">
				modifyTime = #{modifyTime,jdbcType=BIGINT},
			</if>
			
			<if test="image_size != null">
				image_size = #{image_size,jdbcType=INTEGER},
			</if>
			<if test="image_relative_path != null">
				image_relative_path = #{image_relative_path,jdbcType=VARCHAR},
			</if>
			<if test="image_absolute_path != null">
				image_absolute_path = #{image_absolute_path,jdbcType=VARCHAR},
			</if>
			
			<if test="account != null">
				account = #{account,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=INTEGER},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				birthday = #{birthday,jdbcType=BIGINT},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="department != null">
				department = #{department,jdbcType=INTEGER},
			</if>
			<if test="sub_system != null">
				sub_system = #{sub_system,jdbcType=INTEGER},
			</if>
			<if test="enabled != null">
				enabled = #{enabled,jdbcType=BIT},
			</if>
			
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.pitaya.bookingnow.entity.security.User">
		update pitaya_user
		set modifyTime = #{modifyTime,jdbcType=BIGINT},
		image_size = #{image_size,jdbcType=INTEGER},
		image_relative_path = #{image_relative_path,jdbcType=VARCHAR},
		image_absolute_path = #{image_absolute_path,jdbcType=VARCHAR},
		account = #{account,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		sex = #{sex,jdbcType=INTEGER},
		email = #{email,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		birthday = #{birthday,jdbcType=BIGINT},
		description = #{description,jdbcType=VARCHAR},
		department = #{department,jdbcType=INTEGER},
		sub_system = #{sub_system,jdbcType=INTEGER},
		enabled = #{enabled,jdbcType=BIT}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>