<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pitaya.bookingnow.dao.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.pitaya.bookingnow.entity.Customer">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="picture_id" property="picture_id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="birthday" property="birthday" jdbcType="BIGINT" />
	</resultMap>
    
	<resultMap id="Customer_BaseResultMap" type="com.pitaya.bookingnow.entity.Customer">
		<id column="A_id" property="id" jdbcType="BIGINT" />
		<result column="A_picture_id" property="picture_id" jdbcType="BIGINT" />
		<result column="A_name" property="name" jdbcType="VARCHAR" />
		<result column="A_account" property="account" jdbcType="VARCHAR" />
		<result column="A_password" property="password" jdbcType="VARCHAR" />
		<result column="A_phone" property="phone" jdbcType="VARCHAR" />
		<result column="A_sex" property="sex" jdbcType="INTEGER" />
		<result column="A_email" property="email" jdbcType="VARCHAR" />
		<result column="A_address" property="address" jdbcType="VARCHAR" />
		<result column="A_birthday" property="birthday" jdbcType="BIGINT" />
		
		<association property="picture" javaType="com.pitaya.bookingnow.entity.Customer_Picture">
			<id column="B_id" property="id" jdbcType="BIGINT" />
			<result column="B_name" property="name" jdbcType="VARCHAR" />
			<result column="B_last_modify_time" property="last_modify_time" jdbcType="BIGINT" />
			<result column="B_enabled" property="enabled" jdbcType="BIT" />
			<result column="B_image" property="image" jdbcType="LONGVARBINARY" />
		</association>
		
	</resultMap>
	
	<sql id="Base_Column_List">
		id, picture_id, name, account, password, phone, sex, email, address,
		birthday
	</sql>
	
	<sql id="Customer_Base_Column_List">
		A.id as A_id, 
		A.picture_id A_picture_id, 
		A.name A_name, 
		A.account A_account, 
		A.password A_password, 
		A.phone A_phone, 
		A.sex A_sex, 
		A.email A_email, 
		A.address A_address,
		A.birthday A_birthday
	</sql>
	
	<sql id="Customer_Picture_Base_Column_List">
		B.id as B_id, 
		B.name as B_name, 
		B.last_modify_time as B_last_modify_time, 
		B.enabled as B_enabled, 
		B.image as B_image
	</sql>
	
	<select id="login" resultMap="Customer_BaseResultMap" parameterType="com.pitaya.bookingnow.entity.Customer">
		select
		<include refid="Customer_Base_Column_List" />
		,
		<include refid="Customer_Picture_Base_Column_List" />
		
		from pitaya_customer A
			left outer join pitaya_customer_picture B on A.picture_id = B.id
		
		where
			A.account = #{account,jdbcType=VARCHAR} and A.password = #{password,jdbcType=VARCHAR}
	</select>
	
	<select id="searchCustomers" resultMap="Customer_BaseResultMap" parameterType="com.pitaya.bookingnow.entity.Customer">
		select
		<include refid="Customer_Base_Column_List" />
		,
		<include refid="Customer_Picture_Base_Column_List" />
		
		from pitaya_customer A
			left outer join pitaya_customer_picture B on A.picture_id = B.id
		
		<where>
		    <if test="picture_id != null">
				A.picture_id = #{picture_id,jdbcType=BIGINT}
			</if>
			<if test="name != null">
				and A.name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="account != null">
				and A.account = #{account,jdbcType=VARCHAR}
			</if>
			<if test="password != null">
				and A.password = #{password,jdbcType=VARCHAR}
			</if>
			<if test="phone != null">
				and A.phone = #{phone,jdbcType=VARCHAR}
			</if>
			<if test="sex != null">
				and A.sex = #{sex,jdbcType=INTEGER}
			</if>
			<if test="email != null">
				and A.email = #{email,jdbcType=VARCHAR}
			</if>
			<if test="address != null">
				and A.address = #{address,jdbcType=VARCHAR}
			</if>
			<if test="birthday != null">
				and A.birthday = #{birthday,jdbcType=BIGINT}
			</if>
		</where>
	</select>
	
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from pitaya_customer
		where id = #{id,jdbcType=BIGINT}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from pitaya_customer
		where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<insert id="insert" parameterType="com.pitaya.bookingnow.entity.Customer">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pitaya_customer (picture_id, name, account,
		password, phone, sex,
		email, address, birthday
		)
		values (#{picture_id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
		#{account,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER},
		#{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
		#{birthday,jdbcType=BIGINT}
		)
	</insert>
	
	<insert id="insertSelective" parameterType="com.pitaya.bookingnow.entity.Customer">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pitaya_customer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="picture_id != null">
				picture_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="account != null">
				account,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="picture_id != null">
				#{picture_id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="account != null">
				#{account,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=INTEGER},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				#{birthday,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.pitaya.bookingnow.entity.Customer">
		update pitaya_customer
		<set>
			<if test="picture_id != null">
				picture_id = #{picture_id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="account != null">
				account = #{account,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=INTEGER},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				birthday = #{birthday,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.pitaya.bookingnow.entity.Customer">
		update pitaya_customer
		set picture_id = #{picture_id,jdbcType=BIGINT},
		name = #{name,jdbcType=VARCHAR},
		account = #{account,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		sex = #{sex,jdbcType=INTEGER},
		email = #{email,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		birthday = #{birthday,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>