<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pitaya.bookingnow.dao.OrderMapper">
	<resultMap id="BaseResultMap" type="com.pitaya.bookingnow.entity.Order">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="user_id" property="user_id" jdbcType="BIGINT" />
		<result column="customer_id" property="customer_id" jdbcType="BIGINT" />
		<result column="customer_count" property="customer_count"
			jdbcType="INTEGER" />
		<result column="modifyTime" property="modifyTime" jdbcType="BIGINT" />
		<result column="allowance" property="allowance" jdbcType="DOUBLE" />
		<result column="total_price" property="total_price" jdbcType="DOUBLE" />
		<result column="prePay" property="prePay" jdbcType="DOUBLE" />
		<result column="submit_time" property="submit_time" jdbcType="BIGINT" />
		<result column="enabled" property="enabled" jdbcType="BIT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, status, user_id, customer_id, customer_count, modifyTime, allowance,
		total_price,
		prePay, submit_time, enabled
	</sql>
	
	
	<select id="searchOrders" resultMap="BaseResultMap"
		parameterType="com.pitaya.bookingnow.entity.Order">
		select
		<include refid="Base_Column_List" />
		from pitaya_order
		<where>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER}
			</if>
			<if test="user_id != null">
				and user_id = #{user_id,jdbcType=BIGINT}
			</if>
			<if test="customer_id != null">
				and customer_id = #{customer_id,jdbcType=BIGINT}
			</if>
			<if test="customer_count != null">
				and customer_count = #{customer_count,jdbcType=INTEGER}
			</if>
			<if test="modifyTime != null">
				and modifyTime = #{modifyTime,jdbcType=BIGINT}
			</if>
			<if test="allowance != null">
				and allowance = #{allowance,jdbcType=DOUBLE}
			</if>
			<if test="total_price != null">
				and total_price = #{total_price,jdbcType=DOUBLE}
			</if>
			<if test="prePay != null">
				and prePay = #{prePay,jdbcType=DOUBLE}
			</if>
			<if test="submit_time != null">
				and submit_time = #{submit_time,jdbcType=BIGINT}
			</if>
			<if test="enabled != null">
				and enabled = #{enabled,jdbcType=BIT}
			</if>
		</where>
	</select>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from pitaya_order
		where id = #{id,jdbcType=BIGINT}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from pitaya_order
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.pitaya.bookingnow.entity.Order">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pitaya_order (status, user_id, customer_id,
		customer_count, modifyTime, allowance,
		total_price, prePay, submit_time,
		enabled)
		values (#{status,jdbcType=INTEGER}, #{user_id,jdbcType=BIGINT},
		#{customer_id,jdbcType=BIGINT},
		#{customer_count,jdbcType=INTEGER}, #{modifyTime,jdbcType=BIGINT}, #{allowance,jdbcType=DOUBLE},
		#{total_price,jdbcType=DOUBLE}, #{prePay,jdbcType=DOUBLE},
		#{submit_time,jdbcType=BIGINT},
		#{enabled,jdbcType=BIT})
	</insert>
	<insert id="insertSelective" parameterType="com.pitaya.bookingnow.entity.Order">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pitaya_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="status != null">
				status,
			</if>
			<if test="user_id != null">
				user_id,
			</if>
			<if test="customer_id != null">
				customer_id,
			</if>
			<if test="customer_count != null">
				customer_count,
			</if>
			<if test="modifyTime != null">
				modifyTime,
			</if>
			<if test="allowance != null">
				allowance,
			</if>
			<if test="total_price != null">
				total_price,
			</if>
			<if test="prePay != null">
				prePay,
			</if>
			<if test="submit_time != null">
				submit_time,
			</if>
			<if test="enabled != null">
				enabled,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="user_id != null">
				#{user_id,jdbcType=BIGINT},
			</if>
			<if test="customer_id != null">
				#{customer_id,jdbcType=BIGINT},
			</if>
			<if test="customer_count != null">
				#{customer_count,jdbcType=INTEGER},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=BIGINT},
			</if>
			<if test="allowance != null">
				#{allowance,jdbcType=DOUBLE},
			</if>
			<if test="total_price != null">
				#{total_price,jdbcType=DOUBLE},
			</if>
			<if test="prePay != null">
				#{prePay,jdbcType=DOUBLE},
			</if>
			<if test="submit_time != null">
				#{submit_time,jdbcType=BIGINT},
			</if>
			<if test="enabled != null">
				#{enabled,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.pitaya.bookingnow.entity.Order">
		update pitaya_order
		<set>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="user_id != null">
				user_id = #{user_id,jdbcType=BIGINT},
			</if>
			<if test="customer_id != null">
				customer_id = #{customer_id,jdbcType=BIGINT},
			</if>
			<if test="customer_count != null">
				customer_count = #{customer_count,jdbcType=INTEGER},
			</if>
			<if test="modifyTime != null">
				modifyTime = #{modifyTime,jdbcType=BIGINT},
			</if>
			<if test="allowance != null">
				allowance = #{allowance,jdbcType=DOUBLE},
			</if>
			<if test="total_price != null">
				total_price = #{total_price,jdbcType=DOUBLE},
			</if>
			<if test="prePay != null">
				prePay = #{prePay,jdbcType=DOUBLE},
			</if>
			<if test="submit_time != null">
				submit_time = #{submit_time,jdbcType=BIGINT},
			</if>
			<if test="enabled != null">
				enabled = #{enabled,jdbcType=BIT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.pitaya.bookingnow.entity.Order">
		update pitaya_order
		set status = #{status,jdbcType=INTEGER},
		user_id = #{user_id,jdbcType=BIGINT},
		customer_id = #{customer_id,jdbcType=BIGINT},
		customer_count = #{customer_count,jdbcType=INTEGER},
		modifyTime = #{modifyTime,jdbcType=BIGINT},
		allowance = #{allowance,jdbcType=DOUBLE},
		total_price = #{total_price,jdbcType=DOUBLE},
		prePay = #{prePay,jdbcType=DOUBLE},
		submit_time = #{submit_time,jdbcType=BIGINT},
		enabled = #{enabled,jdbcType=BIT}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>