<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pitaya.bookingnow.dao.Order_Food_DetailMapper">
	<resultMap id="BaseResultMap" type="com.pitaya.bookingnow.entity.Order_Food_Detail">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="count" property="count" jdbcType="INTEGER" />
		<result column="preference" property="preference" jdbcType="INTEGER" />
		<result column="last_modify_time" property="last_modify_time" jdbcType="BIGINT" />
		<result column="enabled" property="enabled" jdbcType="BIT" />
		<result column="food_id" property="food_id" jdbcType="BIGINT" />
		<result column="order_id" property="order_id" jdbcType="BIGINT" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, status, count, preference, last_modify_time, enabled, food_id,
		order_id
	</sql>
	
	
	<select id="selectByFoodId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from pitaya_order_food_detail
			left outer join pitaya_food on pitaya_order_food_detail.food_id = pitaya_food.id
		where pitaya_food.id = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from pitaya_order_food_detail
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from pitaya_order_food_detail
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.pitaya.bookingnow.entity.Order_Food_Detail">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pitaya_order_food_detail (status, count, preference,
		last_modify_time, enabled, food_id,
		order_id)
		values (#{status,jdbcType=INTEGER}, #{count,jdbcType=INTEGER},
		#{preference,jdbcType=INTEGER},
		#{last_modify_time,jdbcType=BIGINT}, #{enabled,jdbcType=BIT}, #{food_id,jdbcType=BIGINT},
		#{order_id,jdbcType=BIGINT})
	</insert>
	<insert id="insertSelective" parameterType="com.pitaya.bookingnow.entity.Order_Food_Detail">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pitaya_order_food_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="status != null">
				status,
			</if>
			<if test="count != null">
				count,
			</if>
			<if test="preference != null">
				preference,
			</if>
			<if test="last_modify_time != null">
				last_modify_time,
			</if>
			<if test="enabled != null">
				enabled,
			</if>
			<if test="food_id != null">
				food_id,
			</if>
			<if test="order_id != null">
				order_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="count != null">
				#{count,jdbcType=INTEGER},
			</if>
			<if test="preference != null">
				#{preference,jdbcType=INTEGER},
			</if>
			<if test="last_modify_time != null">
				#{last_modify_time,jdbcType=BIGINT},
			</if>
			<if test="enabled != null">
				#{enabled,jdbcType=BIT},
			</if>
			<if test="food_id != null">
				#{food_id,jdbcType=BIGINT},
			</if>
			<if test="order_id != null">
				#{order_id,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.pitaya.bookingnow.entity.Order_Food_Detail">
		update pitaya_order_food_detail
		<set>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="count != null">
				count = #{count,jdbcType=INTEGER},
			</if>
			<if test="preference != null">
				preference = #{preference,jdbcType=INTEGER},
			</if>
			<if test="last_modify_time != null">
				last_modify_time = #{last_modify_time,jdbcType=BIGINT},
			</if>
			<if test="enabled != null">
				enabled = #{enabled,jdbcType=BIT},
			</if>
			<if test="food_id != null">
				food_id = #{food_id,jdbcType=BIGINT},
			</if>
			<if test="order_id != null">
				order_id = #{order_id,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.pitaya.bookingnow.entity.Order_Food_Detail">
		update pitaya_order_food_detail
		set status = #{status,jdbcType=INTEGER},
		count = #{count,jdbcType=INTEGER},
		preference = #{preference,jdbcType=INTEGER},
		last_modify_time = #{last_modify_time,jdbcType=BIGINT},
		enabled = #{enabled,jdbcType=BIT},
		food_id = #{food_id,jdbcType=BIGINT},
		order_id = #{order_id,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>