<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pitaya.bookingnow.dao.OrderMapper">
  
  <resultMap id="BaseResultMap" type="com.pitaya.bookingnow.entity.Order">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="user_id" jdbcType="BIGINT" property="user_id" />
    <result column="customer_id" jdbcType="BIGINT" property="customer_id" />
    <result column="customer_count" jdbcType="INTEGER" property="customer_count" />
    <result column="modifyTime" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="allowance" jdbcType="INTEGER" property="allowance" />
    <result column="total_price" jdbcType="DOUBLE" property="total_price" />
    <result column="prePay" jdbcType="DOUBLE" property="prePay" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submit_time" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
  </resultMap>
  <sql id="Base_Column_List">
    id, status, user_id, customer_id, customer_count, modifyTime, allowance, total_price, 
    prePay, submit_time, enabled
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pitaya_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pitaya_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pitaya.bookingnow.entity.Order">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pitaya_order (status, user_id, customer_id, 
      customer_count, modifyTime, allowance, 
      total_price, prePay, submit_time, 
      enabled)
    values (#{status,jdbcType=INTEGER}, #{user_id,jdbcType=BIGINT}, #{customer_id,jdbcType=BIGINT}, 
      #{customer_count,jdbcType=INTEGER}, #{modifyTime,jdbcType=TIMESTAMP}, #{allowance,jdbcType=INTEGER}, 
      #{total_price,jdbcType=DOUBLE}, #{prePay,jdbcType=DOUBLE}, #{submit_time,jdbcType=TIMESTAMP}, 
      #{enabled,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.pitaya.bookingnow.entity.Order">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pitaya_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="status != null">
        status,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="customer_id != null">
        customer_id,
      </if>
      <if test="customer_count != null">
        customer_count,
      </if>
      <if test="modifyTime != null">
        modifyTime,
      </if>
      <if test="allowance != null">
        allowance,
      </if>
      <if test="total_price != null">
        total_price,
      </if>
      <if test="prePay != null">
        prePay,
      </if>
      <if test="submit_time != null">
        submit_time,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=BIGINT},
      </if>
      <if test="customer_id != null">
        #{customer_id,jdbcType=BIGINT},
      </if>
      <if test="customer_count != null">
        #{customer_count,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="allowance != null">
        #{allowance,jdbcType=INTEGER},
      </if>
      <if test="total_price != null">
        #{total_price,jdbcType=DOUBLE},
      </if>
      <if test="prePay != null">
        #{prePay,jdbcType=DOUBLE},
      </if>
      <if test="submit_time != null">
        #{submit_time,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pitaya.bookingnow.entity.Order">
    update pitaya_order
    <set>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
      <if test="customer_id != null">
        customer_id = #{customer_id,jdbcType=BIGINT},
      </if>
      <if test="customer_count != null">
        customer_count = #{customer_count,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null">
        modifyTime = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="allowance != null">
        allowance = #{allowance,jdbcType=INTEGER},
      </if>
      <if test="total_price != null">
        total_price = #{total_price,jdbcType=DOUBLE},
      </if>
      <if test="prePay != null">
        prePay = #{prePay,jdbcType=DOUBLE},
      </if>
      <if test="submit_time != null">
        submit_time = #{submit_time,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pitaya.bookingnow.entity.Order">
    update pitaya_order
    set status = #{status,jdbcType=INTEGER},
      user_id = #{user_id,jdbcType=BIGINT},
      customer_id = #{customer_id,jdbcType=BIGINT},
      customer_count = #{customer_count,jdbcType=INTEGER},
      modifyTime = #{modifyTime,jdbcType=TIMESTAMP},
      allowance = #{allowance,jdbcType=INTEGER},
      total_price = #{total_price,jdbcType=DOUBLE},
      prePay = #{prePay,jdbcType=DOUBLE},
      submit_time = #{submit_time,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>