<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pitaya.bookingnow.dao.FoodMapper">
    <resultMap id="BaseResultMap" type="com.pitaya.bookingnow.entity.Food">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="recommendation" property="recommendation" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="BIGINT" />
		<result column="image_version" property="image_version" jdbcType="BIGINT" />
		<result column="period" property="period" jdbcType="BIGINT" />
		<result column="price" property="price" jdbcType="DOUBLE" />
		<result column="category" property="category" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		
		
		<result column="enabled" property="enabled" jdbcType="BIT" />
		<result column="large_image_relative_path" property="large_image_relative_path" jdbcType="VARCHAR" />
		<result column="small_image_relative_path" property="small_image_relative_path" jdbcType="VARCHAR" />
		<result column="large_image_absolute_path" property="large_image_absolute_path" jdbcType="VARCHAR" />
		<result column="small_image_absolute_path" property="small_image_absolute_path" jdbcType="VARCHAR" />
		<result column="large_image_size" property="large_image_size" jdbcType="INTEGER" />
		<result column="small_image_size" property="small_image_size" jdbcType="INTEGER" />
	</resultMap>
    
	
	<sql id="Base_Column_List">
		id, 
		recommendation, 
		status, 
		name, 
		version,
		image_version, 
		period, 
		price,
		category, 
		description,		
		enabled,
		large_image_relative_path, 
		small_image_relative_path
	</sql>
	
	<sql id="Max_Base_Column_List">
		id, 
		recommendation, 
		status, 
		name, 
		version, 
		image_version,
		period, 
		price,
		category, 
		description,		
		enabled,
		large_image_size,
		small_image_size,
		large_image_relative_path, 
		small_image_relative_path, 
		large_image_absolute_path, 
		small_image_absolute_path
	</sql>
	
	<sql id="NoPicture_Base_Column_List">
		id, 
		recommendation, 
		status, 
		name, 
		version, 
		period, 
		price,
		category, 
		description,		
		enabled
	</sql>
	
	<sql id="Min_Base_Column_List">
		id, 
		status, 
		name, 
		version, 
		price,
		category, 
		enabled
	</sql>
	
  
<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pitaya_food
    where id = #{id,jdbcType=BIGINT} and enabled = true
  </select>
  
  <select id="selectFullByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Max_Base_Column_List" />
    from pitaya_food
    where id = #{id,jdbcType=BIGINT} and enabled = true
  </select>
  
  <select id="selectAllFoods" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from pitaya_food
    where enabled = true
  </select>
  
  <select id="selectAllFullFoods" resultMap="BaseResultMap" >
    select 
    <include refid="Max_Base_Column_List" />
    from pitaya_food
    where enabled = true
  </select>
  
  <select id="selectAllFoodsWithoutImage" resultMap="BaseResultMap" >
    select 
    <include refid="NoPicture_Base_Column_List" />
    from pitaya_food
    where enabled = true
  </select>
  
  <select id="selectSmallImageByFoodId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id,status,image_version,small_image_size,small_image_relative_path,enabled
    
    from pitaya_food
    where id = #{id,jdbcType=BIGINT} and enabled = true
  </select>
  
  <select id="selectLargeImageByFoodId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id,status,image_version,large_image_size,large_image_relative_path,enabled
    from pitaya_food
    where id = #{id,jdbcType=BIGINT} and enabled = true
  </select>
  
  <select id="selectFoods" resultMap="BaseResultMap" parameterType="Food" >
    select 
    <include refid="Base_Column_List" />
    from pitaya_food 
    <where>
      		<if test="recommendation != null">
				and recommendation = #{recommendation,jdbcType=INTEGER}
			</if>
			<if test="status != null">
				and status = #{status,jdbcType=INTEGER}
			</if>
			<if test="name != null">
				and name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="version != null">
				and version = #{version,jdbcType=BIGINT}
			</if>
			<if test="image_version != null">
				and image_version = #{image_version,jdbcType=BIGINT}
			</if>
			<if test="period != null">
				and period = #{period,jdbcType=BIGINT}
			</if>
			<if test="price != null">
				and price = #{price,jdbcType=DOUBLE}
			</if>
			<if test="category != null">
				and category = #{category,jdbcType=VARCHAR}
			</if>
			<if test="description != null">
				and description = #{description,jdbcType=VARCHAR}
			</if>
			<if test="enabled != null">
				and enabled = #{enabled,jdbcType=BIT}
			</if>
			<if test="enabled == null">
				and enabled = true
			</if>
    </where>
    </select>
  
   <select id="selectFullFoods" resultMap="BaseResultMap" parameterType="Food" >
    select 
    <include refid="Max_Base_Column_List" />
    from pitaya_food
    <where>
      		<if test="recommendation != null">
				recommendation = #{recommendation,jdbcType=INTEGER}
			</if>
			<if test="status != null">
				and status = #{status,jdbcType=INTEGER}
			</if>
			<if test="name != null">
				and name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="version != null">
				and version = #{version,jdbcType=BIGINT}
			</if>
			<if test="image_version != null">
				and image_version = #{image_version,jdbcType=BIGINT}
			</if>
			<if test="period != null">
				and period = #{period,jdbcType=BIGINT}
			</if>
			<if test="price != null">
				and price = #{price,jdbcType=DOUBLE}
			</if>
			<if test="category != null">
				and category = #{category,jdbcType=VARCHAR}
			</if>
			<if test="description != null">
				and description = #{description,jdbcType=VARCHAR}
			</if>
			<if test="enabled != null">
				and enabled = #{enabled,jdbcType=BIT}
			</if>
			<if test="enabled == null">
				and enabled = true
			</if>
    	
    </where>
    </select>
    
    <select id="selectFoodsWithoutImage" resultMap="BaseResultMap" parameterType="Food" >
    select 
    <include refid="NoPicture_Base_Column_List" />
    from pitaya_food
    <where>
      		<if test="recommendation != null">
				recommendation = #{recommendation,jdbcType=INTEGER}
			</if>
			<if test="status != null">
				and status = #{status,jdbcType=INTEGER}
			</if>
			<if test="name != null">
				and name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="version != null">
				and version = #{version,jdbcType=BIGINT}
			</if>
			<if test="period != null">
				and period = #{period,jdbcType=BIGINT}
			</if>
			<if test="price != null">
				and price = #{price,jdbcType=DOUBLE}
			</if>
			<if test="category != null">
				and category = #{category,jdbcType=VARCHAR}
			</if>
			<if test="description != null">
				and description = #{description,jdbcType=VARCHAR}
			</if>
    		<if test="enabled != null">
				and enabled = #{enabled,jdbcType=BIT}
			</if>
			<if test="enabled == null">
				and enabled = true
			</if>
    </where>
    </select>
    
    
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		update pitaya_food
		set enabled = true
		where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<insert id="insert" parameterType="com.pitaya.bookingnow.entity.Food">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pitaya_food (
			recommendation, 
			status,
			name, 
			version,
			image_version, 
			period,
			price, 
			category, 
			description,
			
			enabled,
			large_image_size,
			small_image_size,
			large_image_relative_path, 
			small_image_relative_path, 
			large_image_absolute_path, 
			small_image_absolute_path
		)
		values (
			#{recommendation,jdbcType=INTEGER}, 
			#{status,jdbcType=INTEGER},
			#{name,jdbcType=VARCHAR}, 
			#{version,jdbcType=BIGINT},
			#{image_version,jdbcType=BIGINT},
			#{period,jdbcType=BIGINT},
			#{price,jdbcType=DOUBLE}, 
			#{category,jdbcType=VARCHAR},
			#{description,jdbcType=VARCHAR},
			
			#{enabled,jdbcType=BIT},
			#{large_image_size,jdbcType=INTEGER},
			#{small_image_size,jdbcType=INTEGER},
			#{large_image_relative_path,jdbcType=VARCHAR},
			#{small_image_relative_path,jdbcType=VARCHAR},
			#{large_image_absolute_path,jdbcType=VARCHAR},
			#{small_image_absolute_path,jdbcType=VARCHAR}
		)
	</insert>
	
	<insert id="insertSelective" parameterType="com.pitaya.bookingnow.entity.Food">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pitaya_food
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="recommendation != null">
				recommendation,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="image_version != null">
				image_version,
			</if>
			<if test="period != null">
				period,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="category != null">
				category,
			</if>
			<if test="description != null">
				description,
			</if>
			
			<if test="large_image_size != null">
				large_image_size,
			</if>
			<if test="small_image_size != null">
				small_image_size,
			</if>
			<if test="large_image_relative_path != null">
				large_image_relative_path,
			</if>
			<if test="small_image_relative_path != null">
				small_image_relative_path,
			</if>
			<if test="large_image_absolute_path != null">
				large_image_absolute_path,
			</if>
			<if test="small_image_absolute_path != null">
				small_image_absolute_path,
			</if>
				enabled
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="recommendation != null">
				#{recommendation,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=BIGINT},
			</if>
			<if test="image_version != null">
				#{image_version,jdbcType=BIGINT},
			</if>
			<if test="period != null">
				#{period,jdbcType=BIGINT},
			</if>
			<if test="price != null">
				#{price,jdbcType=DOUBLE},
			</if>
			<if test="category != null">
				#{category,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			
			<if test="large_image_size != null">
			    #{large_image_size,jdbcType=INTEGER},
			</if>
			<if test="small_image_size != null">
			    #{small_image_size,jdbcType=INTEGER},
			</if>
			<if test="large_image_relative_path != null">
			    #{large_image_relative_path,jdbcType=VARCHAR},
			</if>
			<if test="small_image_relative_path != null">
			    #{small_image_relative_path,jdbcType=VARCHAR},
			</if>
			<if test="large_image_absolute_path != null">
			    #{large_image_absolute_path,jdbcType=VARCHAR},
			</if>
			<if test="small_image_absolute_path != null">
			    #{small_image_absolute_path,jdbcType=VARCHAR},
			</if>
			<if test="enabled != null">
			    #{enabled,jdbcType=BIT}
			</if>
			<if test="enabled == null">
			    true
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.pitaya.bookingnow.entity.Food">
		update pitaya_food
		<set>
			<if test="recommendation != null">
				recommendation = #{recommendation,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				version = #{version,jdbcType=BIGINT},
			</if>
			<if test="image_version != null">
				image_version = #{image_version,jdbcType=BIGINT},
			</if>
			<if test="period != null">
				period = #{period,jdbcType=BIGINT},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=DOUBLE},
			</if>
			<if test="category != null">
				category = #{category,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			
			<if test="enabled != null">
			    enabled = #{enabled,jdbcType=BIT},
			</if>
			<if test="large_image_size != null">
			    large_image_size = #{large_image_size,jdbcType=INTEGER},
			</if>
			<if test="small_image_size != null">
			    small_image_size = #{small_image_size,jdbcType=INTEGER},
			</if>
			<if test="large_image_relative_path != null">
			    large_image_relative_path = #{large_image_relative_path,jdbcType=VARCHAR},
			</if>
			<if test="small_image_relative_path != null">
			    small_image_relative_path = #{small_image_relative_path,jdbcType=VARCHAR},
			</if>
			<if test="large_image_absolute_path != null">
			    large_image_absolute_path = #{large_image_absolute_path,jdbcType=VARCHAR},
			</if>
			<if test="small_image_absolute_path != null">
			    small_image_absolute_path = #{small_image_absolute_path,jdbcType=VARCHAR}
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.pitaya.bookingnow.entity.Food">
		update pitaya_food
		set recommendation = #{recommendation,jdbcType=INTEGER},
			status = #{status,jdbcType=INTEGER},
			name = #{name,jdbcType=VARCHAR},
			version = #{version,jdbcType=BIGINT},
			image_version = #{image_version,jdbcType=BIGINT},
			period = #{period,jdbcType=BIGINT},
			price = #{price,jdbcType=DOUBLE},
			category = #{category,jdbcType=VARCHAR},
			description = #{description,jdbcType=VARCHAR},
			enabled = #{enabled,jdbcType=BIT},
			large_image_size = #{large_image_size,jdbcType=INTEGER},
			small_image_size = #{small_image_size,jdbcType=INTEGER},
			large_image_relative_path = #{large_image_relative_path,jdbcType=VARCHAR},
			small_image_relative_path = #{small_image_relative_path,jdbcType=VARCHAR},
			large_image_absolute_path = #{large_image_absolute_path,jdbcType=VARCHAR},
			small_image_absolute_path = #{small_image_absolute_path,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>