<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pitaya.bookingnow.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:minSdkVersion="11"
        android:targetSdkVersion="15"/>
	<uses-permission android:name="android.permission.INTERNET" />
    
    <supports-screens
            android:normalScreens="true"
            android:largeScreens="true"
            android:resizeable="true"
            android:anyDensity="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.pitaya.bookingnow.app.HomeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            android:configChanges="screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".OrderDetailPreviewActivity" 
                android:theme="@style/OrderViewerStyle"
                android:configChanges="screenSize|orientation"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".OrderDetailActivity"
                android:configChanges="screenSize|orientation"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity 
            	android:name=".FoodBookActivity"
            	android:configChanges="screenSize|orientation"
            	android:windowSoftInputMode="adjustPan">
        </activity>
        <service
            android:name=".service.MessageService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_name" >
        </service>
        <provider
      		    android:name=".service.FoodMenuContentProvider"
      		    android:authorities="com.pitaya.bookingnow.food.contentprovider" >
   		</provider>
   		<provider
                android:name=".service.OrderContentProvider"
                android:authorities="com.pitaya.bookingnow.order.contentprovider" >
        </provider>
        <provider
                android:name=".service.OrderDetailContentProvider"
                android:authorities="com.pitaya.bookingnow.orderdetail.contentprovider" >
        </provider>
         <provider
                android:name=".service.OrderUpdateDetailContentProvider"
                android:authorities="com.pitaya.bookingnow.orderupdatedetail.contentprovider" >
        </provider>
    </application>

</manifest>
