::-moz-focus-inner{
	padding: 0;
	border: 0;
}
.ui_button,
.ui_fileup {
	vertical-align: middle;
	border: 1px solid #ccc;
	display: inline-block;
	padding: 5px 10px;
	background: #FFF;
	font-size: 12px;
	*overflow: visible;
	*display: inline;
	*zoom: 1;
}
.ui_fileup {
	position: relative;
	overflow: hidden;
}
.ui_fileup input {
	filter: alpha(opacity=1);
	position: absolute;
	background: #fff;
	font-size: 60px;
	cursor: default;
	width: auto;
	opacity: 0;
	z-index: 1;
	left: auto;
	right: 0;
	top: 0;
}

.avataria .cont {
	text-align: center;
	min-height: 1%;
	margin: 25px;
	width: 302px;
	_zoom: 1;
}
.avataria form {
	text-align: left;
	overflow: hidden;
}
.avataria .cont:after {
	content: "";
	display: block;
	overflow: hidden;
	height: 0;
	clear: both;
}
.thumb {
	float: right;
	height: 120px;
	width: 120px;
}
.cropaera {
	clear: both;
}
.preview {
	height: 300px;
	width: 300px;
}

