<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.pitaya.bookingnow.dao.AccountMapper"> 

    <insert id="add" useGeneratedKeys="true" keyProperty="aid" parameterType="com.pitaya.bookingnow.model.Account"> 
		insert into pitaya_Account(aid,name,passwd,role) 
       		values(#{aid},#{name},#{password},#{role}) 
       		
		<selectKey resultType="int" keyProperty="aid">
			SELECT LAST_INSERT_ID()
		</selectKey>
    </insert>

	<delete id="remove" parameterType="com.pitaya.bookingnow.model.Account">
		delete from pitaya_Account where aid = #{aid}
	</delete>
    
     <update id="edit" parameterType="com.pitaya.bookingnow.model.Account">
     	update pitaya_Account set name=#{name},passwd=#{password} where aid=#{aid}
    </update>
 
    <select id="selectAccountByID" resultType="com.pitaya.bookingnow.model.Account"  resultMap="accountBaseResultMap" parameterType="int" > 
        select * from pitaya_Account where aid=#{aid} 
    </select>
    
    <select id="get" parameterType="java.lang.String" resultType="com.pitaya.bookingnow.model.Account" resultMap="accountBaseResultMap">
		select * from pitaya_Account where name like '%' #{name} '%'
	</select>
	
	<select id="getList" parameterType="com.pitaya.bookingnow.model.Account" resultType="list" resultMap="accountBaseResultMap">
		select * from pitaya_Account where name like '%' #{name} '%'
	</select>
    
    <select id="getAllAccount" resultType="list" resultMap="accountBaseResultMap">
		select * from pitaya_Account
	</select>
     
</mapper>
