
.browser_file {
	color:White;
}

#crop_now {
	width:200px; 
	height:200px;
}

.preview_box {
	position:relative;
	top:-100px;
	left:300px;
}

#crop_preview {
	width:100px; 
	height:100px;
}

.userTextInput
{
    height: 21px;
    width: 150px;
}
.registerUserTable
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.registerUserTable td, 
.registerUserTable tr
{
    margin: 0px;
    padding: 2px;
    border-spacing: 0px;
    border-collapse: collapse;
    font-family: Verdana;
    font-size: 12px;
}
h3 
{
    display: inline-block;
    margin: 0px;
}
