<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pitaya.bookingnow.dao.security.Role_Authority_DetailMapper">
	<resultMap id="BaseResultMap"
		type="com.pitaya.bookingnow.entity.security.Role_Authority_Detail">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="enabled" property="enabled" jdbcType="BIT" />
		<result column="role_id" property="role_id" jdbcType="BIGINT" />
		<result column="authority_id" property="authority_id" jdbcType="BIGINT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, enabled, role_id, authority_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from pitaya_role_authority_detail
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		update pitaya_role_authority_detail
		set enabled = false
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert"
		parameterType="com.pitaya.bookingnow.entity.security.Role_Authority_Detail">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pitaya_role_authority_detail (enabled, role_id,
		authority_id
		)
		values (#{enabled,jdbcType=BIT}, #{role_id,jdbcType=BIGINT},
		#{authority_id,jdbcType=BIGINT}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.pitaya.bookingnow.entity.security.Role_Authority_Detail">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pitaya_role_authority_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="enabled != null">
				enabled,
			</if>
			<if test="role_id != null">
				role_id,
			</if>
			<if test="authority_id != null">
				authority_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="enabled != null">
				#{enabled,jdbcType=BIT},
			</if>
			<if test="role_id != null">
				#{role_id,jdbcType=BIGINT},
			</if>
			<if test="authority_id != null">
				#{authority_id,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.pitaya.bookingnow.entity.security.Role_Authority_Detail">
		update pitaya_role_authority_detail
		<set>
			<if test="enabled != null">
				enabled = #{enabled,jdbcType=BIT},
			</if>
			<if test="role_id != null">
				role_id = #{role_id,jdbcType=BIGINT},
			</if>
			<if test="authority_id != null">
				authority_id = #{authority_id,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.pitaya.bookingnow.entity.security.Role_Authority_Detail">
		update pitaya_role_authority_detail
		set enabled = #{enabled,jdbcType=BIT},
		role_id = #{role_id,jdbcType=BIGINT},
		authority_id = #{authority_id,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>