<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pitaya.bookingnow.dao.FoodMapper">
    <resultMap id="BaseResultMap" type="com.pitaya.bookingnow.entity.Food">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="recommendation" property="recommendation" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="picture_id" property="picture_id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="BIGINT" />
		<result column="period" property="period" jdbcType="BIGINT" />
		<result column="price" property="price" jdbcType="DOUBLE" />
		<result column="category" property="category" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
	</resultMap>
    
	<resultMap id="Food_BaseResultMap" type="com.pitaya.bookingnow.entity.Food">
		<id column="F_id" property="id" jdbcType="BIGINT" />
		<result column="F_recommendation" property="recommendation" jdbcType="INTEGER" />
		<result column="F_status" property="status" jdbcType="INTEGER" />
		<result column="F_picture_id" property="picture_id" jdbcType="BIGINT" />
		<result column="F_name" property="name" jdbcType="VARCHAR" />
		<result column="F_version" property="version" jdbcType="BIGINT" />
		<result column="F_period" property="period" jdbcType="BIGINT" />
		<result column="F_price" property="price" jdbcType="DOUBLE" />
		<result column="F_category" property="category" jdbcType="VARCHAR" />
		<result column="F_description" property="description" jdbcType="VARCHAR" />
		
		<association property="picture" javaType="com.pitaya.bookingnow.entity.Food_Picture">
			<id column="P_id" property="id" jdbcType="BIGINT" />
			<result column="P_name" property="name" jdbcType="VARCHAR" />
			<result column="P_version" property="version" jdbcType="BIGINT" />
			<result column="P_enabled" property="enabled" jdbcType="BIT" />
			<result column="P_big_image" property="big_image" jdbcType="LONGVARBINARY" />
			<result column="P_small_image" property="small_image" jdbcType="LONGVARBINARY" />
		</association> 
	
	</resultMap>
	
	
	<sql id="Base_Column_List">
		id, 
		recommendation, 
		status, 
		picture_id, 
		name, 
		version, 
		period, 
		price,
		category, 
		description
	</sql>
	
	<sql id="Aliase_Base_Column_List" >
	    F.id as F_id, 
	    F.recommendation as F_recommendation, 
	    F.status as F_status, 
	    F.picture_id as F_picture_id, 
	    F.name as F_name, 
	    F.version as F_version, 
	    F.period as F_period, 
	    F.price as F_price,
	    F.category as F_category, 
	    F.description as F_description
  </sql>
  
   <sql id="Food_Picture_Column_List">
		P.id as P_id, 
		P.name as P_name, 
		P.version as P_version, 
		P.enabled as P_enabled,
		P.big_image as P_big_image, 
		P.small_image as P_small_image
	</sql>
	
	<sql id="Food_Picture_Without_Image_Column_List">
		P.id as P_id, 
		P.name as P_name, 
		P.version as P_version, 
		P.enabled as P_enabled
	</sql>
  
<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pitaya_food
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectFullByPrimaryKey" resultMap="Food_BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Aliase_Base_Column_List" />
    ,
    <include refid="Food_Picture_Column_List" />
    from pitaya_food F 
    	left outer join pitaya_food_picture P on F.picture_id = P.id
    where F.id = #{id,jdbcType=BIGINT}
  </select>
  
    <select id="selectAllFoods" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from pitaya_food
  </select>
  
  <select id="selectAllFullFoods" resultMap="Food_BaseResultMap" >
    select 
    <include refid="Aliase_Base_Column_List" />
    ,
    <include refid="Food_Picture_Column_List" />
    from pitaya_food F 
    left outer join pitaya_food_picture P on 
    F.picture_id = P.id
  </select>
  
  <select id="selectAllFoodsWithoutImage" resultMap="Food_BaseResultMap" >
    select 
    <include refid="Aliase_Base_Column_List" />
    ,
    <include refid="Food_Picture_Without_Image_Column_List" />
    from pitaya_food F 
    left outer join pitaya_food_picture P on 
    F.picture_id = P.id
  </select>
  
  <select id="selectFoods" resultMap="BaseResultMap" parameterType="Food" >
    select 
    <include refid="Base_Column_List" />
    from pitaya_food 
    
    <where>
      		<if test="recommendation != null">
				and recommendation = #{recommendation,jdbcType=INTEGER}
			</if>
			<if test="status != null">
				and status = #{status,jdbcType=INTEGER}
			</if>
			<if test="picture_id != null">
				and picture_id = #{picture_id,jdbcType=BIGINT}
			</if>
			<if test="name != null">
				and name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="version != null">
				and version = #{version,jdbcType=BIGINT}
			</if>
			<if test="period != null">
				and period = #{period,jdbcType=BIGINT}
			</if>
			<if test="price != null">
				and price = #{price,jdbcType=DOUBLE}
			</if>
			<if test="category != null">
				and category = #{category,jdbcType=VARCHAR}
			</if>
			<if test="description != null">
				and description = #{description,jdbcType=VARCHAR}
			</if>
    	
    </where>
    </select>
  
   <select id="selectFullFoods" resultMap="Food_BaseResultMap" parameterType="Food" >
    select 
    <include refid="Aliase_Base_Column_List" />
    ,
    <include refid="Food_Picture_Column_List" />
    from pitaya_food F 
    	left outer join pitaya_food_picture P on F.picture_id = P.id
    <where>
      		<if test="recommendation != null">
				F.recommendation = #{recommendation,jdbcType=INTEGER}
			</if>
			<if test="status != null">
				and F.status = #{status,jdbcType=INTEGER}
			</if>
			<if test="picture_id != null">
				and F.picture_id = #{picture_id,jdbcType=BIGINT}
			</if>
			<if test="name != null">
				and F.name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="version != null">
				and F.version = #{version,jdbcType=BIGINT}
			</if>
			<if test="period != null">
				and F.period = #{period,jdbcType=BIGINT}
			</if>
			<if test="price != null">
				and F.price = #{price,jdbcType=DOUBLE}
			</if>
			<if test="category != null">
				and F.category = #{category,jdbcType=VARCHAR}
			</if>
			<if test="description != null">
				and F.description = #{description,jdbcType=VARCHAR}
			</if>
    	
    </where>
    </select>
    
    <select id="selectFoodsWithoutImage" resultMap="Food_BaseResultMap" parameterType="Food" >
    select 
    <include refid="Aliase_Base_Column_List" />
    ,
    <include refid="Food_Picture_Without_Image_Column_List" />
    from pitaya_food F 
    	left outer join pitaya_food_picture P on F.picture_id = P.id
    
    <where>
      		<if test="recommendation != null">
				F.recommendation = #{recommendation,jdbcType=INTEGER}
			</if>
			<if test="status != null">
				and F.status = #{status,jdbcType=INTEGER}
			</if>
			<if test="picture_id != null">
				and F.picture_id = #{picture_id,jdbcType=BIGINT}
			</if>
			<if test="name != null">
				and F.name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="version != null">
				and F.version = #{version,jdbcType=BIGINT}
			</if>
			<if test="period != null">
				and F.period = #{period,jdbcType=BIGINT}
			</if>
			<if test="price != null">
				and F.price = #{price,jdbcType=DOUBLE}
			</if>
			<if test="category != null">
				and F.category = #{category,jdbcType=VARCHAR}
			</if>
			<if test="description != null">
				and F.description = #{description,jdbcType=VARCHAR}
			</if>
    	
    </where>
    </select>
    
    
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from pitaya_food
		where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<insert id="insert" parameterType="com.pitaya.bookingnow.entity.Food">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pitaya_food (recommendation, status, picture_id,
		name, version, period,
		price, category, description
		)
		values (#{recommendation,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
		#{picture_id,jdbcType=BIGINT},
		#{name,jdbcType=VARCHAR}, #{version,jdbcType=BIGINT}, #{period,jdbcType=BIGINT},
		#{price,jdbcType=DOUBLE}, #{category,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR}
		)
	</insert>
	
	<insert id="insertSelective" parameterType="com.pitaya.bookingnow.entity.Food">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pitaya_food
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="recommendation != null">
				recommendation,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="picture_id != null">
				picture_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="period != null">
				period,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="category != null">
				category,
			</if>
			<if test="description != null">
				description,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="recommendation != null">
				#{recommendation,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="picture_id != null">
				#{picture_id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=BIGINT},
			</if>
			<if test="period != null">
				#{period,jdbcType=BIGINT},
			</if>
			<if test="price != null">
				#{price,jdbcType=DOUBLE},
			</if>
			<if test="category != null">
				#{category,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.pitaya.bookingnow.entity.Food">
		update pitaya_food
		<set>
			<if test="recommendation != null">
				recommendation = #{recommendation,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="picture_id != null">
				picture_id = #{picture_id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				version = #{version,jdbcType=BIGINT},
			</if>
			<if test="period != null">
				period = #{period,jdbcType=BIGINT},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=DOUBLE},
			</if>
			<if test="category != null">
				category = #{category,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.pitaya.bookingnow.entity.Food">
		update pitaya_food
		set recommendation = #{recommendation,jdbcType=INTEGER},
		status = #{status,jdbcType=INTEGER},
		picture_id = #{picture_id,jdbcType=BIGINT},
		name = #{name,jdbcType=VARCHAR},
		version = #{version,jdbcType=BIGINT},
		period = #{period,jdbcType=BIGINT},
		price = #{price,jdbcType=DOUBLE},
		category = #{category,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>