<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pitaya.bookingnow.dao.Food_PictureMapper">
	<resultMap id="BaseResultMap" type="com.pitaya.bookingnow.entity.Food_Picture">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="last_modify_time" property="last_modify_time"
			jdbcType="TIMESTAMP" />
		<result column="enabled" property="enabled" jdbcType="BIT" />
		<result column="big_image" property="big_image" jdbcType="LONGVARBINARY" />
		<result column="small_image" property="small_image" jdbcType="LONGVARBINARY" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, last_modify_time, enabled
	</sql>
	<sql id="Blob_Column_List">
		big_image, small_image
	</sql>
	
	
	<select id="searchFood_Pictures" resultMap="BaseResultMap"
		parameterType="Food_Picture">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from pitaya_food_picture
		<where>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="last_modify_time != null">
				and last_modify_time = #{last_modify_time,jdbcType=TIMESTAMP}
			</if>
			<if test="enabled != null">
				and enabled = #{enabled,jdbcType=BIT}
			</if>
			<if test="big_image != null">
				and big_image = #{big_image,jdbcType=LONGVARBINARY}
			</if>
			<if test="small_image != null">
				and small_image = #{small_image,jdbcType=LONGVARBINARY}
			</if>
		</where>
	</select>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from pitaya_food_picture
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from pitaya_food_picture
		where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<insert id="insert" parameterType="com.pitaya.bookingnow.entity.Food_Picture" useGeneratedKeys="true">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID() as id
		</selectKey>
		insert into pitaya_food_picture (name, last_modify_time, enabled,
		big_image, small_image)
		values (#{name,jdbcType=VARCHAR}, #{last_modify_time,jdbcType=TIMESTAMP},
		#{enabled,jdbcType=BIT},
		#{big_image,jdbcType=LONGVARBINARY}, #{small_image,jdbcType=LONGVARBINARY})
	</insert>
	
	<insert id="insertSelective" parameterType="com.pitaya.bookingnow.entity.Food_Picture" useGeneratedKeys="true" flushCache="true">
		<selectKey resultType="java.lang.Long" keyProperty="id"	order="AFTER">
			SELECT LAST_INSERT_ID() as id
		</selectKey>
		insert into pitaya_food_picture
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="last_modify_time != null">
				last_modify_time,
			</if>
			<if test="enabled != null">
				enabled,
			</if>
			<if test="big_image != null">
				big_image,
			</if>
			<if test="small_image != null">
				small_image,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="last_modify_time != null">
				#{last_modify_time,jdbcType=TIMESTAMP},
			</if>
			<if test="enabled != null">
				#{enabled,jdbcType=BIT},
			</if>
			<if test="big_image != null">
				#{big_image,jdbcType=LONGVARBINARY},
			</if>
			<if test="small_image != null">
				#{small_image,jdbcType=LONGVARBINARY},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.pitaya.bookingnow.entity.Food_Picture">
		update pitaya_food_picture
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="last_modify_time != null">
				last_modify_time = #{last_modify_time,jdbcType=TIMESTAMP},
			</if>
			<if test="enabled != null">
				enabled = #{enabled,jdbcType=BIT},
			</if>
			<if test="big_image != null">
				big_image = #{big_image,jdbcType=LONGVARBINARY},
			</if>
			<if test="small_image != null">
				small_image = #{small_image,jdbcType=LONGVARBINARY},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.pitaya.bookingnow.entity.Food_Picture">
		update pitaya_food_picture
		set name = #{name,jdbcType=VARCHAR},
		last_modify_time = #{last_modify_time,jdbcType=TIMESTAMP},
		enabled = #{enabled,jdbcType=BIT}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>