<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pitaya.bookingnow.dao.TableMapper" >
  <resultMap id="BaseResultMap" type="com.pitaya.bookingnow.entity.Table" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="seatCount" property="seatCount" jdbcType="INTEGER" />
    <result column="maxCustomerCount" property="maxCustomerCount" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, seatCount, maxCustomerCount, address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pitaya_table
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pitaya_table
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pitaya.bookingnow.entity.Table" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pitaya_table (seatCount, maxCustomerCount, address
      )
    values (#{seatCount,jdbcType=INTEGER}, #{maxCustomerCount,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pitaya.bookingnow.entity.Table" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pitaya_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seatCount != null" >
        seatCount,
      </if>
      <if test="maxCustomerCount != null" >
        maxCustomerCount,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seatCount != null" >
        #{seatCount,jdbcType=INTEGER},
      </if>
      <if test="maxCustomerCount != null" >
        #{maxCustomerCount,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pitaya.bookingnow.entity.Table" >
    update pitaya_table
    <set >
      <if test="seatCount != null" >
        seatCount = #{seatCount,jdbcType=INTEGER},
      </if>
      <if test="maxCustomerCount != null" >
        maxCustomerCount = #{maxCustomerCount,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pitaya.bookingnow.entity.Table" >
    update pitaya_table
    set seatCount = #{seatCount,jdbcType=INTEGER},
      maxCustomerCount = #{maxCustomerCount,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>